* {
    box-sizing: border-box;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 11px;
    background-color: #4d4d4d;
}

body::-webkit-scrollbar-thumb {
    box-shadow: 1px 1px 2px transparent, 0 0 3em #ff0097cf;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(49deg, #a21af0, #ff0072);
    border-radius: 10px;
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    line-height: 1.5;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
}

.header__right {
    width: 25vh;
}

.logo__desc {
    color: white;
    font-weight: bold;
    font-size: 3em;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1195px;
    width: 90%;
    margin: 0 auto;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__list-item {
    margin: 5px;
}

.nav__item-link {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    width: 100%;
    border-radius: 20px;
    white-space: nowrap;
}

.nav__item-link:hover,
.nav__item-link.active {
    background-color: #fff;
    color: #000;
    padding: 3px 15px;
}

.nav__item-link:before {
    content: '';
    margin-bottom: -5px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #4d4d4d;
    border-radius: 12px;
    transition: all 0.4s;
}

.nav__item-link:hover:before {
    width: 100%;
}

.main {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url(../img/bg/geographic-map.jpg) center/cover no-repeat;
}

.main__content {
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.main__content-desc {
    font-size: 1.4em;
    font-weight: bold;
}

.mobile-menu {
    display: none;
}

.hidden {
    display: flex;
}

.owl-carousel .owl-item img {
    width: 50% !important;
}

.carousel-item {
    background: #FFCC00;
    font-size: 23px;
    padding: 100px 20px;
    text-align: center;
    box-sizing: border-box;
    cursor: grab;
    position: relative;
    height: 230px;
    overflow-wrap: break-word;
}

.owl-item:nth-child(odd) .carousel-item {
    background: #f3c100;
}


/* Контейнер с маркерами */

.owl-dots {
    text-align: center;
}

.owl-carousel button.owl-dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white !important;
    margin: 0 3px;
}

.owl-carousel button.owl-dot.active {
    background: rgb(170, 158, 136) !important;
}

.main__content-block {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: grab;
    margin: 0 auto;
}

.main__content-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.main__content-desc {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .main__content-block {
        width: 70vh;
    }
    .mobile-menu {
        display: flex;
        font-size: 3em;
        color: white;
    }
    .hidden {
        display: none;
    }
    .nav__item-link.active {
        display: flex;
    }
    .nav__list {
        flex-direction: row-reverse;
    }
    .main__content-desc {
        font-size: 1.2em;
    }
    .main__content-img-pic {
        min-height: 40vh;
    }
    .main__content {
        flex-direction: column;
        align-items: baseline;
    }
    .owl-carousel .owl-item img {
        width: 100% !important;
    }
}

@media (max-width: 480px) {
    .main__content-block {
        flex-direction: column;
        width: 100%;
    }
    .main__content-img {
        width: 70%;
    }
    .nav__list-item {
        margin: 0;
    }
    .main__content-desc {
        font-size: 1em;
        width: 75%;
    }
    .logo__desc {
        font-size: 2em
    }
}
